{% extends '_parts/layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/css/users.css">
{% endblock head %}

{% import '_parts/card.njk' as card %}

{% block content %}

  {% call card.render('container', 'admin')%}

  <div class="form-user">
    <form action="/admin/profile?_method=PUT" method="post">
      <div class="form-header user-create">
        <h3>Bem-vindo {{ user.name }}</h3>
        <div class="buttons">
          <input type="submit" value="Salvar" class="button">
        </div>
      </div>
      <section class="fields-container">
        {% include './fields.njk' %}
      </section>
    </form>
  </div>

  {% endcall %}

{% endblock content %}