{% extends '_parts/layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/css/chefs.css">
{% endblock head %}

{% import '_parts/card.njk' as card %}

{% block content %}


  {% call card.render('container', 'admin', session)%}
  <div class="view">

  </div>

  <div class="view list">
    {% for chef in chefs %}

      <div class="item">

        <img src="{{chef.avatar.src}}" alt="{{chef.name}}">
        <h4>{{chef.name}}</h4>
        <a href="/admin/chefs/{{chef.id}}">Visualizar</a>

      </div>

    {% endfor %}

  </div>

  <div class="pagination"
      data-page={{pagination.page}}
      data-total={{pagination.total}}
      data-search={{pagination.search}}>
  </div>

  <script src="/js/pagine.js"></script>

  {% endcall %}

{% endblock content %}