{% extends '_parts/layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/css/chefs.css">
  <link rel="stylesheet" href="/css/home.css">
{% endblock head %}

{% import '_parts/card.njk' as card %}

{% block content %}


  {% call card.render('container', 'admin', session)%}
  <div class="view">

  </div>

  <div class="view list">
    {% for chef in chefs %}

      <div class="item">

        <a href="/home/chefs/{{chef.id}}">
          <img {% if chef.avatar.src | length > 0 %} src="{{chef.avatar.src}}" alt="{{chef.name}}" {% endif %}>
        </a>
        <h4>{{chef.name}}</h4>
        <span>{{chef.recipes.length}} receitas</span>

      </div>

    {% endfor %}

  </div>

  {% endcall %}

{% endblock content %}