{% extends '_parts/layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/css/home.css">
{% endblock head %}

{% import '_parts/card.njk' as card %}

{% block content %}

  {% call card.render('container', 'regular')%}

  {% if pagination.search %}
    <h2>Buscando por "{{pagination.search}}"</h2>
  {% endif %} 

  <section class="home items">

    {% for recipe in recipes %}
      <div class="home item">
        
        <a href="/home/recipes/{{recipe.id}}"><img {% if recipe.files | length > 0 %} src="{{recipe.files[0].src}}" alt="{{recipe.title}}" {% endif %}></a>
        <p>{{recipe.title}}</p>
        <span>{{recipe.author.name}}</span>
      </div>
    {% endfor %}

  </section>

  {% endcall %}

{% endblock content %}