{% extends '_parts/layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/css/chefs.css">
{% endblock head %}

{% import '_parts/card.njk' as card %}

{% block content %}

  {% call card.render('container', 'admin')%}
  <div class="view">
    <h3>Gerenciar Chefs</h3>
    <a href="/admin/chefs/create" class="button">Novo Chef</a>
  </div>

  <div class="view list">
    {% for chef in chefs %}

      <div class="item">

        <img src="{{chef.avatar.src}}" alt="{{chef.name}}">
        <h4>{{chef.name}}</h4>
        <a href="/admin/chefs/{{chef.id}}">Visualizar</a>

      </div>

    {% endfor %}

  </div>

  {% endcall %}

{% endblock content %}