<header class="header admin">
  <div class="container">
    <a class="logo" href="/">
        <img src="/assets/admin-logo.png" alt="Foodfy">
    </a>
    <nav class="menu">
      <ul>
        <li>
            <a href="/admin/recipes">Receitas</a>
        </li>
        <li>
            <a href="/admin/chefs">Chefs</a>
        </li>
        <li>
            <a href="/admin/users">Usuários</a>
        </li>
        {% if session.userId %}
            <li id="logout">
              <a href="/session/logout">Sair</a>
            </li>
          
        {% endif %}
      

      </ul>
    </nav>
  </div>
</header>