<footer id="footer">
    <div class="pagination"
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-search={{pagination.search}}>
    </div>
    <p class="footer">Todos  os direitos reservados, receita Foodfy</p>
</footer>

<script src="/js/menu.js"></script>
<script src="/js/pagine.js"></script>
<script src="/js/script.js"></script>

{# <div id="modal-main" class="modal-container">
    <div class="modal">
        <a class="close-modal">x</a>
        <div class="item">
            <img src="assets/asinhas.png" alt="Imagem de Asinha de Frango">
            <p>Asinhas de frango ao barbecue</p>
            <span>por Vania Steroski</span>
        </div>
    </div>
</div>
<script src="js/script.js"></script> #}
