<footer class="footer">
    Todos  os direitos reservados, receita Foodfy
</footer>
{# <div id="modal-main" class="modal-container">
    <div class="modal">
        <a class="close-modal">x</a>
        <div class="item">
            <img src="assets/asinhas.png" alt="Imagem de Asinha de Frango">
            <p>Asinhas de frango ao barbecue</p>
            <span>por Vania Steroski</span>
        </div>
    </div>
</div>
<script src="js/script.js"></script> #}
<script src="/js/script.js"></script>