<header class="header">
    <div class="container">
        <a class="logo" href="/">
            <img src="/assets/main-logo.png" alt="Foodfy">
        </a>
        <nav class="menu">
            <ul>
                <li>
                    <a href="/">Sobre</a>
                </li>
                <li>
                    <a href="/admin/recipes">Receitas</a>
                </li>
                <li>
                    <a href="/admin/chefs">Chefs</a>
                </li>
            </ul>
        </nav>
        <div class="search">
            <form action="/home/recipes" method="get">
                <input type="text" name="search" placeholder="Busque uma receita">
                <input type="submit" value="Buscar" class="button">
            </form>
        </div>
    </div>
</header>